<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mypc.muftymenkmotivationalquotes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AllQuotes" />
        <activity android:name=".Quotes" />
        <activity android:name=".Favorites" />
        <activity android:name=".Setting" />
        <activity android:name=".About" />
        <activity android:name=".Terms_and_conditions" />
        <activity android:name=".About_Mufty_Menk" />
        <activity android:name=".Home" />
        <activity android:name=".FavoritesOnly"></activity>
    </application>

</manifest>